$primary-color: #7539ff;
$secondary-color: #667085;
$input-container-bg: #eff4fb;
$border-color: #dde4f0;
$divider-color: #dde4f0;
$sub-title-color: #878a99;
$icon-color: #98a2b3;
$text-label-color: #9e9e9e;
$red-color: #ff5771;
