.analysis-chart {
  .ant-card-body {
    padding: 0;
  }

  .analysis-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dde4f0;

    .title {
      margin: 0;
    }

    .range-selector {
      width: 200px;
    }
  }
}
