.siderCollapsed,
.siderExpanded {
  height: 90px;
  border: 1px solid #eeeeee;
  padding: 10px;
}

.menu {
  padding: 10px;
  background-color: white;
  border: none;
}

.appLogoNameIcon {
  width: 200px;
  height: 34px;
}

.appLogoIcon {
  width: 40px;
  height: 34px;
}
